.place__image {
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 768px;
    /*Не понимаю, почему нельзя использовать отрицательный маржин, 
    чтобы невелировать паддинг всего блока place, ведь все элементы должны иметь одинаковый отступ,
    кроме картинки, получается что проще и понятнее добавить паддинг всему блоку place и убрать отступ у этой самой картинки,чем добавлять каждому элементу по отдельности.*/
  }
}
